# Data artifacts
data/
curated_data/
*.pkl
*.zip
*.jsonl

# Models and Training Outputs
outputs*/
unsloth_compiled_cache/
models/

# Environment and Logs
.venv/
__pycache__/
*.log
*.pth
*.pt
*.bin
*.safetensors

# OS specific
.DS_Store